<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<table class="table">
	<thead>
		<tr>
			<th>ユーザ名</th>
			<th>イメージ画像</th>
			<th>紹介文</th>
		</tr>
	</thead>

	<tbody>

		<tr>
			<td><%= @user.name %></td>
			<td>イメージ画像</td>
			<td><%= @user.introduction %></td>
		</tr>

	</tbody>

