<h1>ユーザ詳細</h1>
<!-- <p>Find me in app/views/users/show.html.erb</p> -->

<table class="table">
	<thead>
		<tr>
			<th>ユーザ名</th>
			<th>イメージ画像</th>
			<th>紹介文</th>
		</tr>
	</thead>

	<tbody>

		<tr>
			<td><%= @user.name %></td>
			<td><%= attachment_image_tag @user, :profile_image, :fill, 200, 200 %></td>
			<td><%= @user.introduction %></td>
		</tr>

	</tbody>
</table>

<%= link_to "ユーザ情報編集", edit_user_path %>