<div class="flex">

	<div>
		<h1>ようこそ Sumiyoi ヘ！</h1>
	</div>

	<div>
		<p>ここでは、今住んでいる賃貸や、今まで暮らしてきた場所など、互いに情報をシェアして、自分にあった暮らしを手に入れるSNSです。</p>
	</div>

	<div>
		<br>

		<button type="button">
			<%= link_to "ログイン", new_user_session_path %>
		</button>
			
		<br>
			
		<button type="button">
			<%= link_to "ユーザ登録", new_user_registration_path%>
		</button>
	</div>

</div>

<div class="center">
<%= image_tag 'top.jpg', size: '1200x800' %>
</div>
