
<h2>物件検索結果</h2>
<table>
	<thead>
		<tr>
			<th>物件名</th>
			<th></th>
			<th>住所</th>
			<th>居住年数</th>
		</tr>
	</thead>

	<% @rooms.each do |room| %>
	<tbody>
		<tr>
			<td><%= room.name %></td>
			<td><%= attachment_image_tag room.room_images[0], :image, :fill, 200, 150, fallback: "no_image.jpg", size: '200x150' %></td>
			<td><%= room.address %></td>
			<td><%= room.living_status %></td>
		</tr>
	</tbody>

	<% end %>

</table>