/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
	background-image: image-url(header_back);
 }

 .flexcontainer{
 	display: flex;
 }
 
 .flexitem{
 	width: 100%;
 	height: 35px;
 	text-align: center;
 }

 .item1{
 	background: hsla(50, 50%, 50%, .98);
 }

 .item2{
 	background: hsla(30, 40%, 60%, .98);
 }

 .item3{
 	background: hsla(0, 0%, 80%, .98);
 }

 .item4{
 	background: hsla(40, 30%, 50%, .98);
 }

 .item5{
 	background: hsla(120, 30%, 60%, .60);
 	color: #FFFFFF;
 }

.item-right{
	text-align: center;
 	background: hsla(120, 30%, 60%, .60);
}

footer{
	text-align: right;
}

.right{
	text-align: right;
}